/* style started */
/* global section  */

/* font imported */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap');

.menu-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
    margin-left: 120px;
    margin-right: 120px;
}
.company-name h3{
    color: #3A3A3A;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}
.menu-options a{
    text-decoration: none;
    color: #3A3A3A;
    padding-left: 14px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}
/* menu bar done  */

/* first banner started */
.first-banner{
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}
.banner-text{
    height: 270px;
    width: 582px;
    margin-left: 70px;
    margin-top: 140px;
}
.banner-title{
    color: #3A3A3A;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 2.7rem;
}
.influencer-info{
    padding-bottom: 20px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}
.button{
    height: 30px;
    width: 100px;
    background-color: #e02c6d;
    padding: 10px;
    border-radius: 5px;
}
.button a{
    text-decoration: none;
    color: white;
    padding: 1px;
}
.camera-img{
    height: 440px;
    width: 410px;
    margin-right: 40px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px;
}
.camera-img:hover{
    height: 440px;
    width: 410px;
    margin-right: 40px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px;
    transform: rotate(60deg);
    transition-duration: 1s;
    transition-delay: .1s;
}

/* first banner done  */

/* logo section started  */
.logos{
    display: flex;
    justify-content: space-between;
    margin-left: 165px;
    margin-right: 165px;
    box-shadow: gray   2px 0px 2px;
}
.logo-img{
    height: 100px;
    width: 120px;
}
/* logo section done  */

/* middle banner started  */
.middle-banner{
    margin-left: 196px;
    margin-right: 196px;
    margin-top: 100px;
}

/* title given */

.grid-title{
    text-align: center;
    color: #3A3A3A;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

/* grid photo section started */


.grid-photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    margin-bottom: 30px;
}
.product{
    height: 500px;
    width: 280px;
    box-shadow:2px 2px 10px gray;
    padding: 10px 10px;
}
.product-img{
    height: 200px;
    width: 280px;
}
.product-title{
    color: #3A3A3A;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}
.product-rating .fas{
    color:#FF9529
}

/* middle banner done  */

/* contact form started */

.contact-us{
    margin-top: 140px;
    width: 100%;
    display: flex;
    margin-left: 350px;
}
.contact-form-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.contact-form-card{
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px grey;
    border-radius: 15px;
}
.contact-form-box h1{
    font-size: 35px;
}
.form-input, .form-input-textarea{
    width: 350px;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 5px;
}
.form-button{
    color: white;
    background-color: #e02c6d;
    padding: 10px;
    border-radius: 5px;
}

/* Contact Form Done  */

/* featured products section started */

.featured-product{
    display: flex;
    justify-content: space-around;
    margin: 100px 165px;
}
.featured-img{
    height: 270px;
    width: 400px;
    margin-right: 60px;
}
.featured-txt{
    text-align: justify;
    margin-top: 30px;
}

/* featured product banner ended */

/* footer started */

footer{
    color: white;
    text-align: center;
    background-color: #0A0826;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fab{
    padding-right: 8px;
}

/* footer done  */

